@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);

#select {
  position: relative;
  display: flex;
  justify-content: center;
}

#title {
  position: absolute;
  top: 5px;
  left: 200px;
  color: white;
  font-family: 'Jeju Gothic', serif;
  font-size: 45px;
}

#back {
  width: 1200px;
  height: 700px;
}

#inputNum {
  position: absolute;
  left: 580px;
  bottom: 10px;
  height: 40px;
  font-size: 20px;
}

#submit {
  position: absolute;
  left: 770px;
  bottom: 10px;
  height: 45px;
  font-size: 20px;
}

#sentence {
  position: absolute;
  top: 300px;
  align : center;
  background-color: white;
  color: inherit;
  opacity: 0.7;
  padding: 20px;
}
