@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);

#box {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

#title {
  position: absolute;
  top: 5px;
  left: 100px;
  color: white;
  font-family: 'Jeju Gothic', serif;
  font-size: 45px;
}

#back {
  width: 1200px;
  height: 800px;
}

#cardName {
  position: absolute;
  top: 50px;
  align: center;
  color: white;
  font-family: 'Jeju Gothic', serif;
  font-size: 30px;
}

#card {
  position: absolute;
  top: 150px;
  align:center;
  width: 200px;
  height: 350px;

}

#explain {
  position: absolute;
  bottom: 0px;
  align: center;
}
