@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);

#box {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

#title {
  position: absolute;
  top: 5px;
  left: 420px;
  color: white;
  font-family: 'Jeju Gothic', serif;
  font-size: 45px;
}

#back {
  width: 1200px;
  height: 800px;
}
