@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);

#box {
  position: relative;
  display: flex;
  justify-content: center;
}

#title {
  position: absolute;
  top: 5px;
  left: 100px;
  color: white;
  font-family: 'Jeju Gothic', serif;
  font-size: 45px;
}

#back {
  width: 1200px;
  height: 800px;
}
#fadeIn {
  position: absolute;
  display: flex;
  justify-content: center;
}

#cardName {
  position: absolute;
  top: 50px;
  align:center;
  color: white;
  font-family: 'Jeju Gothic', serif;
  font-size: 30px;
}

#card {
  position: absolute;
  top: 150px;
  width: 200px;
  height: 350px;
  align:center;
}

#explain {
  position: absolute;
  top: 550px;
  align: center;
  width: 500px;
  background-color: white;
  color: inherit;
  opacity: 0.6;
  padding: 20px;
  font-size: 20px;
  font-family: 'Jeju Gothic', serif;
}
