@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);

#select {
  position: relative;
  display: flex;
  justify-content: center;
}

#title {
  position: absolute;
  top: 5px;
  left: 100px;
  color: white;
  font-family: 'Jeju Gothic', serif;
  font-size: 45px;
}

#back {
  width: 1200px;
  height: 700px;
}

#backCard {
  position: absolute;
  top: 150px;
  align: center;
}

#inputNum {
  position: absolute;
  left: 530px;
  bottom: 10px;
  height: 40px;
  text-align: center;
  font-size: 20px;
  font-family: 'Jeju Gothic', serif;
}

#submit {
  position: absolute;
  left: 750px;
  bottom: 10px;
  height: 40px;
  font-size: 20px;
  font-family: 'Jeju Gothic', serif;
}

#sentence {
  position: absolute;
  top: 250px;
  align : center;
  background-color: white;
  font-family: 'Jeju Gothic', serif;
  color: inherit;
  font-size: 20px;
  opacity: 0.8;
  padding: 20px;
}
